*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
  
}
main{
    height: 100%;
    width: 100%;
    background:linear-gradient(to right bottom,
        rgb(26,26,26),
        rgb(45, 45, 45),black) ;
        padding: 20px;
        
}

section{
    height: 100%;
    width: 500px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    
    /* overflow: hidden; */
}

.all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  
}
.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: lightblue; */
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    

}
.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.reel .bottom{
    padding: 30px 20px;
    background: linear-gradient(rgb(0,0, 0, 0), black);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.user{
    display:flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    
       
}
.bottom .user img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom h3{
    font-size: 20px;
    font-weight: 500;
}
.bottom button{
    background-color: transparent;
    padding: 3px 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid white;
}

.bottom>h2{
   font-weight: 500;
   font-size: 25px;
}
.right{
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    text-align: center;
    width: 40px;
    position: absolute;
    right: 0;
    /* overflow: hidden; */
    /* height: 100%; */
    /* transform: translate(100%); */
    bottom: 7%;
    /* border-radius: 30px; */
    /* background-color: linear-gradient(to right, transparent, black); */
}
.right h4{
    cursor: pointer;
}
.right i{
   font-size: 30px;
   font-weight: 500;
}
.right h6{
    font-size: 20px;
    font-weight: 400;
}

.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;

}
.love{
    color: red;
}

.right >div h4{
    pointer-events: none;
}

.rirght>div img{
 pointer-events: none;
}

.mute{
    background-color: #333;
    border-radius: 50%;
    height: 50px;
    width: 50px;    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.mute i{
    font-size: 30px;
    color: white;
    pointer-events: none;
}
.mute:active{
    scale: 0.95;
   
}